{%- import "pagination.inc.macros.html" as macro -%}

{% extends "base.html" %}
{% block title %}Issue {{ code }}{% if !repo.is_empty() %} - {{ repo }}{% endif %} - QA - AOSC OS Packages{% endblock %}
{% block navpath %}<li class="nav-path"><a href="/qa/">QA</a></li>{% endblock %}
{% block banner %}<h1>Issue {{ code }}{% if !repo.is_empty() %} in repo "{{ repo }}"{% endif %}</h1>
<p class="description"><span class="num">{{ page.count }}</span> package{% if page.count > 1 %}s{% endif %} with Issue {{ code }}: {{ description }}</p>
{% endblock %}
{% block main %}
<table class="packages">
<thead>
  <tr>
    <th>Package</th>
    <th>Versions</th>
    <th>Branches</th>
    <th>Files</th>
  </tr>
</thead>
<tbody>
{% for pkg in packages -%}
  <tr>
  	<td class="pkg-name">
      <a href="/qa/packages/{{ pkg.name }}#{{ code }}">{{ pkg.name }}</a>
    </td>
    <td class="pkg-version pkg-version-dpkg">
      {% for version in pkg.versions -%}
        {% if loop.index > 1 %}<br>{% endif %}{{ version }}
      {%- endfor %}
    </td>
		<td class="pkg-repo">{% for branch in pkg.branches -%}
        {% if loop.index > 1 %}, {% endif %}{{ branch }}
      {%- endfor %}
    </td>
		<td class="pkg-file">{{ pkg.filename|fmt_default }}
      {% if pkg.filecount > 1 -%}… ({{ pkg.filecount }} files){%- endif %}
    </td>
	</tr>
{%- endfor %}
</tbody>
</table>
{% include "pagination.inc.html" %}
{% endblock main %}
