{% extends "base.html" %}
{% block title %}{{ name }} - QA - AOSC OS Packages{% endblock %}
{% block navpath %}<li class="nav-path"><a href="/qa/">QA</a></li>{% endblock %}
{% block banner %}<h1>{{ name }}
  {% if !version.is_empty() %}<span class="pkg-version">{{ version }}</span>{% endif %}
</h1>
<p class="description pkg-description">{{ description|d("", true) }}</p>
{% endblock %}

{% block main %}
<div class="package" id="{{ name }}">
  <section class="pkg-info">
    {% if !tree.is_empty() -%}
    <p><b class="pkg-field">Section</b>: {% if !category.is_empty() -%} {{"{}-"|format(category)}} {%- endif %}{{
      section }}</p>
    {%- endif %}

    {% for dep in dependencies -%}
    <p>
      <b class="pkg-field pkg-dep-rel">{{ dep.relationship }}</b> {% if !dep.arch.is_empty() -%}{{dep.arch}}{%-
      endif
      %}:
      {% for (name,relop) in dep.packages -%}
      {% if loop.index != 1 -%},{%- endif %}
      <span class="pkg-dep"><a href="{{ name }}">{{ name }}</a>{{ relop }}</span>
      {%- endfor %}
      {%- endfor %}

    <p><b class="pkg-field">Links</b>:
      <a href="/changelog/{{ name|urlencode }}">Changelog</a>,
      {% if hasrevdep -%}
      <a href="/revdep/{{ name|urlencode }}">Reverse dependency</a>,
      {%- endif %}
      <a
        href="https://github.com/AOSC-Dev/{{ tree }}/issues/new?template=bug-report.md&title={{ name|urlencode }}%3A%20">Report
        issues</a>
    </p>
    </p>

    {% if issues.is_empty() %}
    <p class="tips">No issues. Keep up the good work.</p>
    {% endif %}
  </section>

  {% for issue in issues %}
  <h2 id="{{ issue.errno }}" class="pkg-issue">Issue {{ issue.errno }}</h2>
  <p class="pkg-issue-desc">{{ issue.errno|fmt_issue_code }}</p>
  {% for e in issue.examples %}
  <h3 id="{{ issue.errno }}-{{ loop.index }}">
    {% if e.ver_repo.len() > 0 %} {{ e.ver_repo[0].0 }} ({{ e.ver_repo[0].1 }}) {% endif %}</h3>
  {% if e.ver_repo.len() > 1 %}
  <p><b class="pkg-field">Also</b>:
    {% for (version,repo) in e.ver_repo[1..] %}
    {% if loop.index > 1 %}, {% endif %}{{ version }} ({{ repo }})
    {% endfor %}</p>
  {% endif %}

  {% if [101, 102].contains(issue.errno) %}
  <p><b class="pkg-field">File</b>: {{ e.info[0].file.filename }}</p>
  <p><b class="pkg-field">Commit</b>: <a href="https://github.com/AOSC-Dev/{{ e.info[0].detail|value_string(" tree")
      }}/commit/{{ e.info[0].detail|value_string("githash") }}">{{
      e.info[0].detail|value_string("githash") }}</a></p>
  <p><b class="pkg-field">Error</b>: </p>
  <pre>{{ e.info[0].detail|value_string("err")|e }}</pre>

  {% else if issue.errno == 103 %}
  <p><b class="pkg-field">Name</b>: {{ name }}</p>
  <p><b class="pkg-field">Explanation</b>: Package names must consist only of lower case letters (a-z), digits (0-9),
    plus (+) and minus (-) signs, and periods (.). They must be at least two characters long and must start with an
    alphanumeric character.</p>

  {% else if issue.errno == 301 %}
  <p><b class="pkg-field">File</b>: <a href="https://repo.aosc.io/debs/{{ e.info[0].file.filename }}">{{
      e.info[0].file.filename
      }}</a></p>
  <p><b class="pkg-field">Size</b>: {{ e.info[0].detail|value_i64("size")|sizeof_fmt }}</p>

  {% else if issue.errno == 302 %}
  <p><b class="pkg-field">File</b>: <a href="https://repo.aosc.io/debs/{{ e.info[0].file.filename }}">{{
      e.info[0].file.filename }}</a></p>
  <p><b class="pkg-field">Size</b>: {{ e.info[0].detail|value_i64("size")|sizeof_fmt }}</p>
  <p><b class="pkg-field">Median size</b>: {{ e.info[0].detail|value_i64("medsize")|sizeof_fmt }}</p>

  {% else if issue.errno == 303 %}
  <p><b class="pkg-field">File</b>: <a href="https://repo.aosc.io/debs/{{ e.info[0].file.filename }}">{{
      e.info[0].file.filename }}</a></p>
  <p><b class="pkg-field">Should be</b>: {{ e.info[0].detail|value_string("suggestion")|e }}</p>

  {% else if issue.errno == 311 %}
  <p><b class="pkg-field">Maintainer</b>: {{ e.info[0].detail|value_string("maintainer")|e }}</p>
  <p><b class="pkg-field">Committer</b>: <a href="https://github.com/AOSC-Dev/{{ e.info[0].detail|value_string(" tree")
      }}/commit/{{ e.info[0].detail|value_string("githash") }}">{{ e.info[0].detail|value_string("committer")|d("(not
      found)", true)|e
      }}</a></p>

  {% else if (issue.errno > 320) & (issue.errno < 330) %} <p><b class="pkg-field">{{ e.filecount }} File{% if
      e.filecount > 1 %}s{% endif %}</b></p>
    <ul class="pkg-files">
      {% for info in e.info %}
      <li><span class="pkg-ls-perm{% if e.level < 0 %} pkg-issue-crit{% endif %}">{{
          info.detail|value_i32("perm")|ls_perm_str(info.detail|value_string("ftype")) }}</span> <span
          class="pkg-ls-user">{{ info.detail|value_string("uname") }}({{ info.detail|value_i64("uid") }})</span>
        <span class="pkg-ls-user">{{ info.detail|value_string("gname") }}({{ info.detail|value_i64("gid") }})</span>
        <span class="pkg-ls-size num">{{ info.detail|value_i64("size")|sizeof_fmt_ls }}</span> {{
        info.file.filename }}
      </li>
      {%- endfor %}
      {% if e.info.len() < e.filecount %} <li>&hellip;</li>
        {% endif %}
    </ul>


    {% else if [401, 411].contains(issue.errno) %}
    {% if issue.errno == 401 -%}
    <p><b class="pkg-field">Missing build dependencies</b>:</p>
    {%- else -%}
    <p><b class="pkg-field">Missing dependencies</b>:</p>
    {%- endif %}
    <ul>
      {% for Info {detail,file} in e.info -%}
      <li>{% if detail.get("relationship").is_some() -%}
        <b class="pkg-field pkg-dep-rel">{{ detail|value_string("relationship") }}</b>:
        {% endif %}{{ file.filename }}{% if detail.get("relop").is_some() %}
        {{ detail|value_string("relop") }}{{ detail|value_string("version") }}{% endif %}
      </li>
      {%- endfor %}
    </ul>

    {% else if issue.errno == 402 %}
    <p><b class="pkg-field">Commit</b>: <a href="https://github.com/AOSC-Dev/{{ e.info[0].detail|value_string(" tree")
        }}/commit/{{ e.info[0].detail|value_string("githash") }}">{{
        e.info[0].detail|value_string("githash") }}</a></p>
    <p><b class="pkg-field">Path</b>: {{ e.info[0].file.filename }}</p>
    {% for path in e.info[0].detail|value_array_string("path") %}
    <p><b class="pkg-field">Duplicate</b>: {{ path }}</p>
    {%- endfor %}

    {% else if issue.errno == 412 %}
    <p><b class="pkg-field">File</b>: <a href="https://repo.aosc.io/debs/{{ e.info[0].file.filename }}">{{
        e.info[0].file.filename
        }}</a></p>
    {% for path in e.info[0].detail|value_array_string("path") %}
    <p><b class="pkg-field">Duplicate</b>: <a href="https://repo.aosc.io/debs/{{ path }}">{{ path }}</a></p>
    {%- endfor %}

    {% else if [421, 431 ,432].contains(issue.errno) %}
    <p>
      {% if e.custom|value_array_string("summary")|len != 0 %}

      {% if issue.errno == 421 %}
      <b class="pkg-field pkg-dep-rel">Conflicts</b>:
      {%- else if issue.errno == 432 -%}
      <b class="pkg-field pkg-dep-rel">Depends</b>:
      {%- else if issue.errno == 431 -%}
      <b class="pkg-field pkg-dep-rel">Rebuild caused by</b>:
      {%- endif %}

      {%- endif %}

      {% for dep in e.custom|value_array_string("summary") -%}
      {% if loop.index != 1 %},{% endif %}
      <span class="pkg-dep"><a href="{{ dep }}">{{ dep }}</a></span>
      {%- endfor %}
    </p>

    {% for pkg in e.custom|value_array("files_bypkg") -%}
    <h4>{{ pkg|value_string("pkg_name") }} {{ pkg|value_string("version") }} ({{ pkg|value_string("repo") }})</h4>
    <ul class="pkg-files">
      {% for file in pkg|value_array_string("files") %}
      <li>{{ file }}</li>
      {%- endfor %}
    </ul>
    {%- endfor %}

    {% endif %}

    {%- endfor %}
    {%- endfor %}
</div>
{% endblock main %}